  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/PTSans-Italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/FiraSans-Bold.woff2") format("woff2");
    font-display: swap;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    min-width: 1400px;
    background-color: #ffffff;
    margin: 0;
  }

  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .description {
    margin: 0;
    color: #000000;
  }

  .visually-hidden {
    display: none;
  }

  .header-info {
    background-color: #F3F7F9;
    line-height: 18px;
    font-size: 14px;
  }

  .header-info-wrapper {
    display: flex;
    align-items: center;
  }

  .header-info-description {
    font-style: italic;
    color: #EE3643;
    margin: 14px 0 13px 0;
  }

  .header-adress-description {
    color: #32425C;
    margin: 0 0 0 auto;
  }

  .header-phone-link {
    text-decoration: none;
    color: #293449;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin: 0 0 0 32px;
  }

  .header-phone {
    margin-left: 8px;
  }

  .header-user {
    background-color: #293449;
  }

  .header-user-wrapper {
    display: flex;
  }

  .header-logo-link {
    background-color: #EE3643;
    width: 220px;
    height: 45px;
    display: flex;
  }

  .header-logo-wrapper {
    padding: 12px 57px 16px 55px;
  }

  .header-search-form {
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }

  .header-search-label {
    width: 20px;
    height: 20px;
    margin-left: 21px;
    margin-right: 12px;
  }

  .header-search-field {
    width: 717px;
    height: 45px;
    background-color: #293449;
    border: none;
  }

  .user-login-button {
    background-color: #293449;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 98px;
  }

  .user-login {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F1F5F7;
    margin-left: 11px;
  }

  .header-user-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 0 0 118px;
    padding: 0;
  }

  .header-user-item:first-child {
     margin-right: 25px;
  }

  .header-user-item:last-child {
    width: 170px;
    height: 42px;
    background-color: #63A63E;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 11px 0 16px 26px;
  }

  .header-user-link {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .header-navigation-wrapper {
    background-color: #3D546F;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }

  .header-nav-list {
    list-style-type: none;
    display: flex;
    width: 800px;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .header-nav-item {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .promo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .promo-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
  }

  .promo-item {
    display: flex;
    width: 370px;
    height: 180px;
  }

  .promo-item-wrapper {
    margin-right: 45px;
  }

  .promo-materials-item {
    background-color: #FFBF47;
    position: relative;
    margin-right: 30px;
  }

  .promo-materials-item::after {
    content: "";
    background-image: url("../images/catalog-new.png");
    position: absolute;
    width: 70px;
    height: 70px;
    right: 0;
  } 

  .promo-tools-item {
    background-color: #3BBCE3;
    margin-right: 30px;
  }

  .promo-equipments-item {
    background-color: #DC91D8;
  }

  .promo-sale-item {
    background-color: #8ED78F;
    margin-bottom: 30px;
  }

  .promo-delivery-item {
    background-color: #FFBF47;
  }

  .promo-headline {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px 0 57px 25px;
  }

  .promo-link {
    width: 180px;
    height: 40px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    margin: 0 0 33px 25px;
  }

  .promo-link-img {
    margin: 12px 5px 12px 12px;
  }

  .promo-img {
    margin: 45px 0 37px 0;
  }

  .promo-vertical-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .slider {
    margin-right: 30px;
  }

  .slider-1 {
    width: 770px;
    height: 390px;
    background-image: url("../images/slider-img-1.png");
  }

  .slider-header {
    font-family: "Fira Sans";
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-top: 53px;
    padding-left: 51px;
    padding-bottom: 10px;
  }

  .slider-description {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 51px;
    padding-bottom: 44px;
  }

  .slider-arrows {
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
    padding-right: 19px;
  }

  .slider-arrow-left {
    border: none;
    background-color: transparent;
  }

  .slider-arrow-right {
    border: none;
    background-color: transparent;
  }

  .slider-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;
    width: 195px;
    height: 45px;
    border-radius: 2px;
    margin: 74px auto 10px 51px;
  }

  .slider-pagination-list {
    display: flex;
    width: 40px;
    margin: 0 auto auto auto;
    padding: 0;
    list-style-type: none;
  }

  .slider-pagination-item {
    margin-right: 8px;
  }

  .slider-pagination-item:last-child {
    margin-right: 0;
  }

  .slider-pagination-button {
    border: 0;
    background-color: transparent;
    padding: 0;
  }

  .goods-headline {
    font-family: "Fira Sans";
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 26px;
    text-transform: uppercase;
    color: #293449;
  }

  .goods-wrapper {
    display: flex;
  }

  .filter {
    width: 246px;
    height: 600px;
    margin-right: 53px;
  }

  .filter-headline {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
  }

  .filter-price-headline {
    margin-bottom: 9px;
  }

  .filter-range {
    border: none;
    padding: 0;
    margin: 0;
  }

  .filter-prices {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin-bottom: 39px;
  }

  .filter-price-range {
    width: 220px;
    height: 40px;
    background-color: #f7f3ec;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  }

  .filter-range-wrapper {
    display: flex;
    margin: 0 20px 0 20px;
    flex: 1;
    height: 20px;
    position: relative;
    align-items: center;
    cursor: pointer;
  }

  .filter-scale {
    height: 2px;
    background-color: #3D546F;
    flex: 1;
  }

  .filter-bar {
    background-color: #5FBB2D;
    height: 2px;
  }

  .filter-toggle {
    position: absolute;
    top: 0;
    background-image: url("../images/filter-toggle.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
  }

  .filter-toggle-min {
    left: -1%;
  }

  .filter-toggle-max {
    left: 62%;
  }

  .filter-price-input {
    width: 95px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #F7F3EC;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    color: #293449;
    font-size: 14px;
    border-radius: 2px;
  }

  .separator-wrapper {
    display: flex;
    align-items: center;
  }

  .filter-price-separator {
    font-size: 14px;
    color: #293449;
  }

  .filter-manufacturers {
    border: none;
    padding: 0;
    margin: 0;
  }

  .filter-manufacturers-headline {
    margin-bottom: 16px;
  }

  .filter-manufacturers-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .filter-manufacturers-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .filter-manufacturers-item:last-child {
    margin-bottom: 34px;
  }

  .filter-label {
    display: flex;
    align-items: center;
  }

  .checkbox-icon {
    display: block;
    width: 20px;
    height: 21px;
    background-image: url("../images/checkbox-off.svg");
    margin-right: 14px;
  }

  .checkbox-text {
    font-size: 14px;
    line-height: 18px;
  }

  .checkbox:hover + .checkbox-icon {
    background-image: url("../images/checkbox-off-hover.svg");
  }

  .checkbox:disabled + .checkbox-icon {
    background-image: url("../images/checkbox-off-disabled.svg");
  }

  .checkbox:disabled + .checkbox-text {
    opacity: 0.4;
  }

  .checkbox:checked + .checkbox-icon {
    background-image: url("../images/checkbox-on.svg");
  }

  .checkbox:checked:hover + .checkbox-icon {
    background-image: url("../images/checkbox-on-hover.svg");
  }

  .checkbox:checked:disabled + .checkbox-icon {
    background-image: url("../images/checkbox-on-disabled.svg");
  }

  .checkbox:checked:disabled + .checkbox-text {
    opacity: 0.4;
  }

  .filter-power {
    border: none;
    padding: 0;
    margin: 0;
  }

  .filter-power-headline {
    margin-bottom: 18px;
  }

  .filter-power-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .filter-power-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  .filter-power-item:last-child {
    margin-bottom: 45px;
  }

  .radio-label {
    display: flex;
    align-items: center;
  }

  .radio-icon {
    display: block;
    width: 22px;
    height: 23px;
    background-image: url("../images/radio-off.svg");
    margin-right: 14px;
  }

  .radio-text {
    font-size: 14px;
    line-height: 18px;
  }

  .radio:checked + .radio-icon {
    background-image: url("../images/radio-on.svg");
  }


  .radio:disabled + .radio-text {
    opacity: 0.4;
  }

  .radio:checked:disabled + .radio-text {
    opacity: 0.4;
  }

  .filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 40px;
    border: 2px solid #3D546F;
    border-radius: 2px;
    background-color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #32425C;
  }

  .catalog-filter {
    margin-top: 33px;
    margin-bottom: 31px;
  }

  .catalog-filter-group {
    border: none;
    margin: 0;
    padding: 0;
  }

  .catalog-filter-selection {
    width: 280px;
    height: 40px;
    padding-left: 16px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    color: #293449;
  }

  .catalog {
    width: 870px;
  }

  .catalog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-item {
    width: 270px;
    height: 380px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }

  .catalog-item:nth-child(3) {
    margin-right: 0;
  }

  .catalog-item:nth-child(6) {
    margin-right: 0;
  }

  .catalog-item:nth-child(9) {
    margin-right: 0;
  }

  .catalog-item-img {
    margin: 27px 27px 14px 27px;
  }

  .catalog-item-new {
    position: relative;
  }

  .catalog-item-new::after {
    content: "";
    background-image: url("../images/catalog-new.png");
    position: absolute;
    width: 70px;
    height: 70px;
    right: 0;
  } 

  .catalog-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #293449;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog-item-old-price {
    font-weight: 700;
    font-size: 14px;
    color: #A9A9A9;
    letter-spacing: 2px;
    margin: 11px auto 9px auto;
  }

  .catalog-item-price {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EE3643;
    border: none;
    border-radius: 4px;
    width: 139px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .catalog-item-price::before {
    position: absolute;
    content: "";
    right: -14px;
    bottom: -14px;
    transform: rotate(45deg);
    display: block;
    width: 27px;
    height: 27px;
    background-color: #fff;
  }

  .catalog-item-price::after {
    position: absolute;
    content: "";
    right: -14px;
    top: -14px;
    transform: rotate(45deg);
    display: block;
    width: 27px;
    height: 27px;
    background-color: #fff;
  }
  
  .catalog-item-price-2 {
    margin-top: 41px;
  }

  .catalog-paginator-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 436px;
    margin: 0 auto 53px auto;
  }

  .catalog-paginator-item {
    margin-right: 8px;
  }

  .catalog-paginator-item:nth-child(4) {
    margin-right: 17px;
  }

  .catalog-paginator-item:last-child {
    margin-right: 0;
  }

  .catalog-paginator-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #3D546F;
    border-radius: 2px;
    text-decoration: none;
  }

  .catalog-paginator-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    font-weight: 700;
    border-radius: 2px;
    color: #3D546F;
  }

  .show-more-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #EE3643;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 45px;
  }

  .services {
    background-color: #F1F5F7;
  }

  .services-headline {
    font-family: "Fira Sans";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #293449;
    text-align: center;
    margin: 0;
    padding-top: 52px;
    padding-bottom: 30px;
  }

  .services-description {
    font-size: 18px;
    line-height: 24px;
    color: #293449;
    padding: 0 308px 65px 306px;
  }

  .services-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .services-item {
    width: 370px;
    height: 382px;
    background-color: #ffffff;
    margin: 0 30px 52px 0;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  .services-item:last-child {
    margin-right: 0;
  }

  .services-list-icon {
    margin: 31px 256px 46px 24px;
  }

  .services-list-headline {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #32425C;
    text-transform: uppercase;
    margin: 0 auto 21px 24px;
  }

  .services-list-description {
    margin: 0 44px 67px 26px;
  }

  .info-wrapper {
    display: flex;
  }

  .info-banner {
    width: 549px;
    height: 306px;
    margin-right: 120px;
  }

  .info-headline {
    font-family: "Fira Sans";
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #293449;
    margin: 52px 0 23px 0;
  }

  .info-description-1 {
    color: #293449;
    width: 500px;
    margin-bottom: 24px;
  }

  .info-description-2 {
    color: #293449;
    width: 500px;
    margin-bottom: 52px;
  }

  .company-info-link {
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #EE3643;
    border-radius: 2px;
    width: 195px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts-banner {
    margin-bottom: 52px;
  }

  .contacts-description {
    color: #293449;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
  }

  .footer-top {
    background-color: #32425C;
    color: #ffffff;
  }

  .footer-wrapper {
    display: flex;
  }

  .footer-logo-link {
    background-color: #EE3643;
    width: 224px;
    height: 52px;
    display: flex;
    margin: 0 685px 17px 0;
  }

  .footer-logo-wrapper {
    padding: 14px 59px 17px 56px;
  }

  .footer-description {
    color: #F3F7F9;
    margin: 0 0 24px 0;
  }

  .footer-social-list {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .footer-social-item {
    margin-right: 17px;
  }

  .vk-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #47556C;
    border-radius: 50%;
  }

  .footer-feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-feedback-description {
    margin: 29px 0 0 0;
  }

  .footer-email {
    color: #FFD180;
    margin-bottom: 29px;
  }

  .footer-subscription-description {
    margin: 0;
  }

  .footer-form-wrapper {
    display: flex;
  }

  .subscription-field {
    width: 233px;
    height: 40px;
    font-size: 14px;
    color: #BDBDBD;
    padding: 10px 16px 12px 16px;
    border: 1px solid #63A63E;
    border-radius: 2px;
  }

  .footer-subscription-button {
    width: 40px;
    height: 40px;
    background: #63A63E;
    border-radius: 2px;
    border: none;
    padding: 0;
  }

  .footer-bottom {
    background-color: #293449;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
  }

  .footer-bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-bottom-description {
    margin: 20px 0 22px 0;
  }

  .htmlacademy-wrapper {
    display: flex;
    align-items: center;
  }

  .htamlacademy-link {
    color: #FFD180;
    text-decoration: none;
    margin-left: 3px;
  }

